
:root {
    --color-black : #111111;
    --color-red-500 : #e52330;
    --color-blue-main : #0082AB;
    --color-blue-sub : #4CBACD;
    --color-blue-dark : #181B2A;
    --color-yellow : #EEF776;
    --color-gray : #F4F0E5;
    --color-white : #ffffff;

}
